@import '../../style.global.scss';

header{
    background-color: var(--ciano-800);
    color:#FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h2{
        text-transform: uppercase;
        font-size: 2em;
        align-self: center;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 200;
        align-self: center;
    }
}
