@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

:root{
    //inputs
    --grey-000:  #efeeed;
    --grey-800: #333333;
    //Cores inválidas
    --red-100: #eb4a46;
    //botão
    --white-000: #ffffff;
    --ciano-800: #00c8b3;
    //desabilitado
    --grey-200:#dddcdc;
    --grey--100: #f6f6f6;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root{
    height: 100%;
  }
  
  body{
    font: 16px 'Roboto', sans-serif !important;
    background-color: #efefef !important;
  }



